@import "../../var";
@import "../../animations.scss";

.projects-container {
  height: 100vh;
  padding: 8.5vh 10vh;

  @include media-sm {
    padding: 7vh 8vh;
  }

  @include media-md {
    padding: 8vh 7vh;
  }
  .projects-header {
    padding-bottom: 2rem;
    font-size: 36px;
    font-family: $font-primary;
    color: $text-primary;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    align-items: left;
    @include fade-in(1s);

    &::before {
      counter-increment: section 3;
      content: "0" counter(section) ".";
      font-family: $font-secondary;
      color: $secondary-color;
      font-size: 27px;
      letter-spacing: -0.05em;
      padding-right: 0.5em;
    }

    &::after {
      content: "";
      display: block;
      width: 215px;
      height: 1px;
      background-color: $secondary-color;
    }
  }

  .project-item {
    padding-bottom: 15%;

    .project-name {
      color: $secondary-color;
      font-family: $font-secondary;
      font-weight: 300;
      text-align: right;
      padding-bottom: 10px;
      @include fade-in(1s);
    }

    .project-content {
      display: flex;
      flex-wrap: nowrap;
      height: auto;
      width: 100%;
      border-radius: 10px;
      background: linear-gradient(to right, $primary-color, $tercary-color);

      @include media-sm {
        flex-wrap: wrap;
      }

      @include media-md {
        flex-wrap: wrap;
      }
      img {
        margin: auto;
        height: 50%;
        width: 50%;
        @include slide-down-blur;

        @include media-sm {
          // width: 50%;
          // height: 50%;
          padding-bottom: 10px;
        }

        @include media-md {
          padding-bottom: 10px;
          width: 70%;
        }
      }

      .project-description {
        height: auto;
        width: 100%;
        padding: 0 0 10px 10px;
        color: $text-primary;
        font-family: $font-primary;
        font-weight: 300;
        text-align: left;

        @include slide-in-blur-bottom;
      }
    }
    .project-stack {
      h3 {
        color: $secondary-color;
        font-family: $font-secondary;
        font-weight: 100;
        font-size: 16px;
        padding-top: 15px;
        text-align: right;
        @include fade-in(1s);
      }

      .link-icon {
        margin: 15px;
        color: $text-primary;
        float: right;
        height: 20px;
        width: 20px;
        @include fade-in(1s);

        &:hover {
          color: $secondary-color;
          @include jello-horizontal;
        }
      }
    }
  }
}
