@import "../../var";
@import "../../animations.scss";

.welcome-container {
  height: 100%;
  padding: 10vh 12vh;
  align-items: center;
  text-align: left;
  @include fade-in(2s);

  @include media-lg {
    zoom: 125%;
  }
  @include media-xl {
    zoom: 150%;
  }

  .welcome-header {
    font-family: $font-secondary;
    color: $text-secondary;
    font-weight: 100;
    padding: 2rem 0;
  }

  .welcome-name {
    font-family: $font-primary;
    color: $text-primary;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 0.3rem;
    padding-bottom: 2rem;
  }

  .paragraph-container {
    .welcome-paragraph {
      font-family: $font-primary;
      color: $text-primary;
      font-weight: 300;
      letter-spacing: 0.1rem;
      padding-bottom: 1rem;
    }
    .welcome-paragraph-2 {
      font-family: $font-primary;
      color: $text-primary;
      font-weight: 100;
      font-size: 12px;
      letter-spacing: 0.1rem;
    }
  }
}
