@import "../../var";

.welcome-container {
  height: 100vh;
  padding: 10vh 12vh;
  overflow: hidden;
  align-items: center;
  text-align: left;

  .welcome-header {
    font-family: $font-secondary;
    color: $text-secondary;
    font-weight: 100;
    padding: 2rem 0;
  }

  .welcome-name {
    font-family: $font-primary;
    color: $text-primary;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 0.3rem;
    padding-bottom: 2rem;
  }

  .paragraph-container {
    max-height: 40vh;
    overflow-y: auto;

    .welcome-paragraph {
      font-family: $font-primary;
      color: $text-primary;
      font-weight: 300;
      letter-spacing: 0.1rem;
      padding-bottom: 1rem;
    }
    .welcome-paragraph-2 {
      font-family: $font-primary;
      color: $text-primary;
      font-weight: 100;
      font-size: 12px;
      letter-spacing: 0.1rem;
    }
  }
}
