@import "../../var";

.about-container {
  height: 100vh;
  padding: 8.5vh 10vh;
  overflow: hidden;
  align-items: left;
  text-align: left;

  @include media-sm {
    padding: 7vh 7vh;
  }

  @include media-md {
    padding: 8vh 7vh;
  }

  .about-header {
    padding-bottom: 2rem;
    font-size: 36px;
    font-family: $font-primary;
    color: $text-primary;
    font-weight: 400;
    letter-spacing: 2px;

    &::before {
      counter-increment: section 1;
      content: "0" counter(section) ".";
      font-family: $font-secondary;
      color: $secondary-color;
      font-size: 27px;
      letter-spacing: -0.05em;
      padding-right: 0.5em;
    }

    &::after {
      content: "";
      display: block;
      width: 240px;
      height: 1px;
      margin: 5px;
      background-color: $secondary-color;
    }
  }

  .about-content {
    display: flex;

    @include media-sm {
      justify-content: center;
      flex-wrap: wrap;
      overflow-y: scroll;
      max-height: 80%;
    }

    @include media-md {
      justify-content: center;
      flex-wrap: wrap;
      overflow-y: scroll;
      max-height: 80%;
    }
    .paragraphs-container {
      padding-right: 5px;

      .about-paragraph {
        color: $text-primary;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 1rem;
        letter-spacing: 0.5px;

        a {
          cursor: pointer;
          color: $secondary-color;
          text-decoration: none;
        }
      }

      .stack-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px 10px;
        list-style: none;
        color: $text-primary;
        font-weight: 100;
        font-family: $font-secondary;
        font-size: 13px;

        li {
          margin: 8px 0;

          &::before {
            content: "»";
            padding-right: 10px;
            color: $secondary-color;
          }
        }
      }
    }
    .profile-image {
      border: 1px solid $tercary-color;
      border-radius: 10%;
      height: 40vh;

      @include media-sm {
        height: 20vh;
        border-radius: 50%;
      }
    }
  }
}
