@import "./var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::before,
  ::after {
    box-sizing: inherit;
  }
}

body {
  background: $primary-color;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
