@import "./var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::before,
  ::after {
    box-sizing: inherit;
  }
}

body {
  background: $primary-color;
  width: 100%;
  min-height: 100%;
}

button {
  font-family: $font-secondary;
  font-weight: 100;
  color: $text-primary;
}
